<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625806842917-lqu25lbe8jsfjvrlrq1lhigj8h2qpohq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625806842917-lqu25lbe8jsfjvrlrq1lhigj8h2qpohq</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ-32E8iLRYbzbJaEMKisSR3lUyefoJjY</string>
	<key>GCM_SENDER_ID</key>
	<string>625806842917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filosofando</string>
	<key>PROJECT_ID</key>
	<string>filosofando-ec199</string>
	<key>STORAGE_BUCKET</key>
	<string>filosofando-ec199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625806842917:ios:05f8ed960b70c08b25f3cc</string>
</dict>
</plist>